# Python
__pycache__/
*.py[cod]

# Виртуальные окружения
.venv/
venv/

# Кеши тестов и отчёты о покрытии
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Локальные переменные окружения
.env
.env.*
!.env.example
